@model SmartDoor.Models.DoorDeviceModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DoorDeviceModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AndroidDeviceId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AndroidDeviceId)
                @Html.ValidationMessageFor(model => model.AndroidDeviceId)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Privilege, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Privilege)
                @Html.ValidationMessageFor(model => model.Privilege)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomId)
                @Html.ValidationMessageFor(model => model.RoomId)
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>*@
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Home", "Home", null, new { @class = "btn btn-primary" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
